.cards {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.card {
    list-style-type: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    width: 64px;
    height: 40px;
}

.visa {
    background-image: url("../img/visa.png");
}
  
.masterCard {
    background-image: url("../img/masterCard.png");
}

.mir {
    background-image: url("../img/mir.png");
}

.discover {
    background-image: url("../img/discover.png");
}

.americanExpress {
    background-image: url("../img/americanExpress.png");
}

.text {
    color:crimson;
}